{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ usuario.cedula }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ usuario.edad }}</td>
            </tr>
            <tr>
                <th>Discapacidad</th>
                <td>{% if usuario.discapacidad %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nomusuario</th>
                <td>{{ usuario.nomUsuario }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ usuario.clave }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
