{% extends 'menu.html.twig' %}

{% block title %}Infoviajes{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <div class="cold-md-12">
        <div class="page-header margin-none">
            <h1>Crear nuevo bus</h1>
        </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bus_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
