{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numasientos</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td><a href="{{ path('reserva_show', { 'id': reserva.id }) }}">{{ reserva.id }}</a></td>
                <td>{{ reserva.numAsientos }}</td>
                <td>{{ reserva.fecha }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reserva_show', { 'id': reserva.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reserva_new') }}">Create a new reserva</a>
        </li>
    </ul>
{% endblock %}
