{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva creation</h1>

    {{ form_start(form,{'attr':{'role':'form'}}) }}
        <div class="form-group">
            {{ form_label(form.horario) }}
            {{ form_widget(form.horario, {'attr':{'class':'form-control','placeholder':'numero de asientos'}}) }}
            <span class="text-danger">{{ form_errors(form.numAsientos) }}</span>
        </div>
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('reserva_index') }}">Back to the list</a>
        </li>
    </ul>

    <div>
        <div class="jumbotron">
            <div class="row">

                <div class="col-sm-6 col-md-5">
                    <div id="sociales">
                        <br>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <br>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        <br>
                        <i class="fa fa-instagram" aria-hidden="true"></i>

                    </div>
                </div>

                <div class="col-sm-6 col-md-7">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->

    </div>


    <!--parte de abajo-->


    <div class="abajo">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" align="center">
                    <div id="sociales" align="center">
                        <br>
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <div class="caption">
                        <center><h3>Terminal Quitumbe</h3></center>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail2" align="center">
                    <div id="sociales" align="center">
                        <br>
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                    </div>
                    <div class="caption">
                        <center><h3>Reserva Boletos</h3></center>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail3" align="center">
                    <div id="sociales" align="center">
                        <br>
                        <i class="fa fa-car" aria-hidden="true"></i>

                    </div>
                    <div class="caption">
                        <center><h3>Catàlogo Buses</h3></center>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail4" align="center">
                    <div id="sociales" align="center">
                        <br>
                        <i class="fa fa-mobile" aria-hidden="true"></i>

                    </div>
                    <div class="caption">
                        <center> <h3>Contàctanos</h3></center>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--jumbotron-->
    <div class="jumbotron">
        <center><h2>Busca por Categoria</h2></center>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
{% endblock %}
