{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserva.id }}</td>
            </tr>
            <tr>
                <th>Numasientos</th>
                <td>{{ reserva.numAsientos }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ reserva.fecha }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reserva_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
